.SearchResults {
    width: 45%;
    height: 950px;
    overflow-y: scroll;
    padding: 1rem;
    background-color: rgba(13, 25, 71, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
   
  }

  
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  h2 {
    font-size: 2rem;
    padding: 1rem;
    border-bottom:  1px solid white;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .SearchResults {
      width: 95%;
      height: 450px;
    
    }
  
    h2 {
      font-size: 0.2rem;
      padding: 0rem;
    }
  }